<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_article</title>
    <link rel="stylesheet" type="text/css" href="/css/create_article.css">
</head>
<body>
    <form action="/board" method="post">
        <h1>create_article</h1>
        <button type="submit">등록</button>
        <hr>
        <div><input id="title" type="text" placeholder="제목을 입력하세요" name="title" autofocus></div>
        <div><input id="nickname" type="text" placeholder="닉네임" name="nickname"></div>
        <div><input id="body" type="text" placeholder="글을 입력하시오" name="body"></div>
    </form>
    <a href="/">Go to Home</a>
</body>
</html>