<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create_article</title>
</head>
<body>
    <h1>create_article</h1>
    <form action="/board" method="post">
        <input type="text" placeholder="title" name="title"><br>
        <input type="text" placeholder="nickname" name="nickname"><br>
        <textarea placeholder="body" name="body"></textarea><br>
        <button type="submit">submit</button>
    </form>
    <a href="/">Go to Home</a>
</body>
</html>