<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dlawhdgus-CRUD</title>
</head>
<body>
    <h1>Node.js - MongoDB - CRUD</h1>
    <h3><a href="read_article">Show Board</a></h3>
    <form action="/delete_admin_article" method="post">
        <input type="password" name="pw" placeholder="pw">
    </form>
</body>
</html>